/*import google font classes*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Ubuntu');
/*reset browser specific styles*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
a{
	color: inherit;
}
.btn{
	display: inline-block;
	min-width: 150px;
	padding: 12px 24px;
	border: 3px solid white;
	border-radius: 5px;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	-webkit-transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
	-o-transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
	transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}
/*navbar*/
.navbar{
	position: absolute;
	width: 100%;
	padding: 0 2.5%;
	font-size: 0;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
	color: white;
}
.navbar-dark{
	background-color: rgba(0,0,0,0.6);
}
.nav{
	display: inline-block;
	font-size: 15px;
	line-height: 4;
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
}
.nav:hover{
	background-color: rgba(255, 255, 255,1);
	color: black;
}
.nav i{
	margin-right: 3px;
}
.nav-brand{
	letter-spacing: 0.12em;
	margin-right: auto;
	font-size: 22px;
	line-height: 2.72;
	font-weight: bold;
}
.nav-brand i{
	margin-right: 5px;
	font-size: 30px;

	vertical-align: -3.5px;
	font-weight: normal;
}
.toggler i{
	margin: 0 5px;
}
.nav-brand img{
	width: 30px;
	height: 30px;
	vertical-align: -7.5px;
	margin: 0 5px;
}
.nav-responsive{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.nav-responsive .nav{
	max-height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
	-o-transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
	transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
}
.nav-is-visible .nav{
	border-top: 1px solid rgba(255,255,255,0.2);
	max-height: 60px;
	visibility: visible;
	opacity: 1;
	-webkit-transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
	-o-transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
	transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
}
@media (min-width: 768px){
	.navbar{
		padding: 0 11%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
	}
	.nav{
		min-width: 120px;
		padding: 0 50px;
	}
	.toggler{
		display: none;
	}
	.nav-responsive{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.nav-responsive .nav{
		border-top: none;
		max-height: none;
		height: 60px;
		visibility: visible;
		opacity: 1;
	}
}
/*hero*/
.hero{
	width: 100%;
	height: 110vh;
	padding: 60px 20px 0px 20px;
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: -webkit-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);

	/*background: -webkit-linear-gradient(135deg,#00C4FF,#9D1BB2);
	background: -o-linear-gradient(135deg,#00C4FF,#9D1BB2);
	background: linear-gradient(135deg,#00C4FF,#9D1BB2);*/

	/*background: -webkit-linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);
	background: -webkit-gradient(linear,left top, right top,from(#4cd964),to(#5ac8fa));
	background: -webkit-linear-gradient(left,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(left,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);*/

	/*background: rgb(0,92,151);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,92,151,1)), color-stop(90%, rgba(54,55,149,1)));
	background: -webkit-linear-gradient(top, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);
	background: -o-linear-gradient(top, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);
	background: linear-gradient(180deg, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);*/

	/*background: rgb(44,62,80);
	background: -webkit-linear-gradient(40deg, rgba(44,62,80,1) 0%, rgba(52,152,219,1) 90%);
	background: -o-linear-gradient(40deg, rgba(44,62,80,1) 0%, rgba(52,152,219,1) 90%);
	background: linear-gradient(50deg, rgba(44,62,80,1) 0%, rgba(52,152,219,1) 90%);*/

	color: white;
}
.hero .hero-head{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.hero .hero-head #typed{
	font-size: 36px;
}
.hero p{
	font-size: 18px;
	line-height: 1.6;
	text-align: justify;
}
.typed-cursor{
	font-size: 41px;
}
@media (min-width: 768px){
	.hero{
		height: 100vh;
		padding: 60px 15% 0 15%;
	}
	.hero .hero-head{
		margin-bottom: 10px;
	}
	.hero .hero-head #typed{
		font-size: 60px;
		font-weight: bold;
	}
	.typed-cursor{
		font-size: 65px;
	}
	.hero p{
		font-size: 22px;
		text-align: center;
	}
}
.hero .btn{
	margin-top: 20px;
	background-color: white;
	color: black;
}
@media (min-width: 768px){
	.hero .btn{
		margin-top: 15px;
		font-size: 20px;
	}
}
.hero .btn:hover{
	background-color: transparent;
	color: white;
}
.section{
	width: 100%;
	height: 100vh;
	background-color: white;
}
.donate{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0;
	background-color: white;
}
.card{
	width: 360px;
	max-width: 95%;
	height: 85%;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.5);
	        box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.5);
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.card .card-head{
	width: 100%;
	-ms-flex-preferred-size: 150px;
	    flex-basis: 150px;
}
.card .card-left{
	background: url(https://cdn.wccftech.com/wp-content/uploads/2017/12/Bulgarian-Bitcoin-Horde-01-Header-2060x1133.jpg);
	background-position: center;
	background-size: cover;
}
.card .card-right{
	background: url(https://i1.wp.com/dollardestruction.com/wp-content/uploads/2018/05/Altcoins-2.jpg?fit=1920%2C1080&ssl=1);
	background-position: center;
	background-size: cover;
}
.card .card-content{
	width: 100%;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 30px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #f2f7ff;
	color: black;
}
.card .card-content .btn{
	margin-top: 40px;
	border-color: dodgerblue;
	background-color: dodgerblue;
	color: white;
}
.card .card-content .btn:hover{
	background-color: white;
	color: dodgerblue;
}
@media (max-width: 768px){
	.donate{
		height: 200vh;
		padding: 0;
		flex-direction: column;
		justify-content: flex-start;
	}
	.card{
		height: 90vh;
		margin: 6.67vh 0;
	}
}
.faq{
	height: auto;
	padding: 40px 0;
	background: -webkit-linear-gradient(115deg, white, white 300px, #f2f7ff 300px, #f2f7ff 600px, white 600px);
	background: -o-linear-gradient(115deg, white, white 300px, #f2f7ff 300px, #f2f7ff 600px, white 600px);
	background: linear-gradient(-15deg, white, white 250px, #f2f7ff 250px, #f2f7ff 650px, white 650px);
}
.faq h1{
	font-size: 40px;
	margin-bottom: 40px;
	text-align: center;
	color: #ff5483;
}
.faq h1 i{
	margin-right: 20px;
}
.faq li{
	width: 80%;
	max-height: 86px;
	-webkit-transition: max-height 0.5s linear;
	-o-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
	font-size: 22px;
	padding: 20px 30px;
	padding-bottom: 40px;
	margin: 20px auto;
	border-bottom: 1px solid #ff5483;
	cursor: pointer;
}
.faq .show-li{
	max-height: 200px;
	-webkit-transition: max-height 0.5s linear;
	-o-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
}
.faq li .que{
	display: block;
	width: 100%;
	color: #ff5483;
}
.faq li .que i{
	float: right;
}
.faq li .que i:before{

	content: "\f13a";
}
.faq .show-li .que i:before{
	content: "\f139";
}
.faq li .ans{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	-o-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	width: 100%;
	padding-left: 20px;
	border-left: 2px solid #ff5483;
	margin-top: 20px;
	font-size: 18px;
	font-weight: lighter;
	color: rgba(0,0,0,0.8);
}
.faq li .show-ans{
	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0s linear 0.5s, opacity 1s linear;
	-o-transition: visibility 0s linear 0.5s, opacity 1s linear;
	transition: visibility 0s linear 0.5s, opacity 1s linear;
}
/*footer*/
.footer{
	padding: 50px 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: space-around;
	font-size: 22px;
	line-height: 2;

	/*background: -webkit-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);*/

	background: rgb(0,92,151);
	/*background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,92,151,1)), color-stop(90%, rgba(54,55,149,1)));
	background: -webkit-linear-gradient(top, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);
	background: -o-linear-gradient(top, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);
	background: linear-gradient(180deg, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);*/
	color: white;
}
@media (max-width: 768px){
	.footer{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}