/*import google font classes*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Ubuntu');
/*reset browser specific styles*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
a{
	color: inherit;
}
.btn{
	display: inline-block;
	min-width: 150px;
	padding: 12px 24px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 18px;
	line-height: 1.38;
	text-align: center;
	cursor: pointer;
}
/*navbar*/
.navbar{
	position: absolute;
	width: 100%;
	padding: 0 2.5%;
	font-size: 0;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
	color: white;
}
.navbar-dark{
	background-color: rgba(0,0,0,0.6);
}
.nav{
	display: inline-block;
	font-size: 15px;
	line-height: 4;
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
}
.nav:hover{
	background-color: rgba(255, 255, 255,1);
	color: black;
}
.nav i{
	margin-right: 3px;
}
.nav-brand{
	letter-spacing: 0.1em;
	margin-right: auto;
	font-size: 22px;
	line-height: 2.72;
	font-weight: bold;
}
.nav-brand i{
	margin-right: 5px;
	font-size: 30px;

	vertical-align: -3.5px;
	font-weight: normal;
}
.toggler i{
	margin: 0 5px;
}
.nav-brand img{
	width: 30px;
	height: 30px;
	vertical-align: -7.5px;
	margin: 0 5px;
}
.nav-responsive{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.nav-responsive .nav{
	max-height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
	-o-transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
	transition: max-height 1s ease 0.3s, visibility 1s, opacity 0.8s;
}
.nav-is-visible .nav{
	border-top: 1px solid rgba(255,255,255,0.2);
	max-height: 60px;
	visibility: visible;
	opacity: 1;
	-webkit-transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
	-o-transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
	transition: max-height 1s, visibility 1s, opacity 1s ease 0.3s, border-top 1s ease 0.3s;
}
@media (min-width: 768px){
	.navbar{
		padding: 0 10%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
	}
	.nav{
		min-width: 120px;
		padding: 0 50px;
	}
	.toggler{
		display: none;
	}
	.nav-responsive{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.nav-responsive .nav{
		border-top: none;
		max-height: none;
		height: 60px;
		visibility: visible;
		opacity: 1;
	}
}
/*hero*/
.hero{
	width: 100%;
	height: 100vh;
	padding: 60px 20px 0px 20px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);

	/*background: linear-gradient(135deg,#00C4FF,#9D1BB2);*/

	/*background: -webkit-linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(450deg,#4cd964 0%,#5ac8fa 100%);*/

	/*background: rgb(0,92,151);
	background: linear-gradient(180deg, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);*/
	
	/*background: rgb(44,62,80);
	background: linear-gradient(50deg, rgba(44,62,80,1) 0%, rgba(52,152,219,1) 90%);*/

	color: white;
}
.hero .hero-head{
	width: 100%;
	margin-bottom: 25px;
	text-align: center;
}
.hero .hero-head #typed{
	font-size: 35px;
}
.hero p{
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
}
.typed-cursor{
	font-size: 40px;
}
@media (min-width: 768px){
	.hero{
		padding: 60px 15% 0 15%;
	}
	.hero .hero-head #typed{
		font-size: 50px;
	}
	.typed-cursor{
		font-size: 55px;
	}
	.hero p{
		font-size: 22px;
	}
}
.hero .btn{
	border-color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0.2);
}
.hero .btn:hover{
	background-color: rgba(0,0,0,0.5);
}
.section{
	width: 100%;
	height: 100vh;
	background-color: white;
}
/*footer*/
.footer{
	padding: 50px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 22px;
	/*
	background: -webkit-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: -o-linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	background: linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
	*/
	background: rgb(0,92,151);
/*background: linear-gradient(180deg, rgba(0,92,151,1) 0%, rgba(54,55,149,1) 90%);*/
	color: white;
}
